$my-align: center;
$my-fontweight: 600;
$my-marginright: 130px;
$my-margin: 15px;
$my-position: relative;
$my-position2: absolute;
$my-color: #000;
$my-font: 'Courier New', Courier, monospace;
$my-fontsize: 27px;
$my-px: 20px;